.popup__title {
	margin: 0;
	font-weight: 900;
	font-size: 24px;
	line-height: 29.05px;  
  }
  
  @media screen and (max-width: 767px) {
	.popup__title {
	  font-style: normal;
	  font-weight: 900;
	  font-size: 18px;
	  line-height: 22px;
	  margin-bottom: 30px;
	}
  }
  