@import url(../vendor/normalize.css);

@import url(../vendor/fonts/fonts.css);

@import url(../blocks/body/body.css);

@import url(../blocks/page/page.css);

@import url(../blocks/content/content.css);

@import url(../blocks/header/header.css);
@import url(../blocks/header/__image/header__image.css);

@import url(../blocks/profile/profile.css);
@import url(../blocks/profile/__content/profile__content.css);
@import url(../blocks/profile/__image/profile__image.css);
@import url(../blocks/profile/__info/profile__info.css);
@import url(../blocks/profile/__name/profile__name.css);
@import url(../blocks/profile/__job/profile__job.css);
@import url(../blocks/profile/__social/profile__social.css);
@import url(../blocks/profile/__add/profile__add.css);
@import url(../blocks/profile/__edit/profile__edit.css);

@import url(../blocks/elements/elements.css);

@import url(../blocks/element/element.css);
@import url(../blocks/element/__image/element__image.css);
@import url(../blocks/element/__footer/element__footer.css);
@import url(../blocks/element/__title/element__title.css);
@import url(../blocks/element/__like/element__like.css);
@import url(../blocks/element/__like/_active/element__like_active.css);
@import url(../blocks/element/__del/element__del.css);
@import url(../blocks/element/__like-counter/element__like-counter.css);

@import url(../blocks/popup/popup.css);
@import url(../blocks/popup/__container/popup__container.css);
@import url(../blocks/popup/__container-image/popup__container-image.css);
@import url(../blocks/popup/__close/popup__close.css);
@import url(../blocks/popup/__title/popup__title.css);
@import url(../blocks/popup/__form/popup__form.css);
@import url(../blocks/popup/__name/popup__name.css);
@import url(../blocks/popup/__image/popup__image.css);
@import url(../blocks/popup/__title-image/popup__title-image.css);
@import url(../blocks/popup/__job/popup__job.css);
@import url(../blocks/popup/__link/popup__link.css);
@import url(../blocks/popup/__button/popup__button.css);
@import url(../blocks/popup/_is-active/popup_is-active.css);
@import url(../blocks/popup/_type/popup_type_image.css);
@import url(../blocks/popup/__input/popup__input.css);
@import url(../blocks/popup/__input/_type/popup__input_type_error.css);
@import url(../blocks/popup/__input-error/popup__input-error.css);
@import url(../blocks/popup/__button/_valid/popup__button_valid.css);

@import url(../blocks/footer/footer.css);
@import url(../blocks/footer/__copyright/footer__copyright.css);
