    .header__image{
      background: url(../../../images/logo.svg) center center/cover no-repeat;
      width: 142px;
      height: 33px;
      color: #fff;
      margin-bottom: 20px;
    }
    @media (max-width: 730px) {
      .header__logo {
        margin-bottom: 10px;
        width: 103px;
        height: 24px;
      }
    }
    