.card {
  display: flex;
  width: 100%;
  flex-direction: column;
  background-color: white;
  border-radius: 10px;
  margin: auto;
  box-sizing: border-box;
  position: relative;  
  overflow: hidden;
  z-index: 1;
}